name: Backend CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/exchange-backend:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/exchange-backend:latest
            
            docker stop exchange-backend || true
            docker rm exchange-backend || true
            
            # Asegurar red
            docker network create exchange-network || true
            
            docker run -d \
              --name exchange-backend \
              --network exchange-network \
              --restart always \
              -p 3000:3000 \
              -e DATABASE_URL="${{ secrets.DB_URL }}" \
              ${{ secrets.DOCKER_USERNAME }}/exchange-backend:latest